body{
    background-image: linear-gradient(75deg, orangered, navy);
    color: navy;
}

.main_div{
    background-color: white;
    padding: 3rem;
    font-family: 'Playfair Display', serif;
}

h2{
    text-align: center;
}

input {
    width: 300px;
    height: 30px;
    border-left: none;
    border: none;
    border-bottom: 1px solid navy;
    outline: none;
    border-top: none;
    border-right: none;
}
.e-mail:hover, input:hover, .password:hover, .confirm_password:hover{
    font-size: large;
}

::placeholder {
    color: navy;
    padding-left: 1rem;
    font-family: 'Playfair Display', serif;
}

.e-mail, .password, .confirm_password{
    margin-top: 0.3rem;
    display: flex;
    margin-bottom: 1.3rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.last_part{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: space-between;
}

.checkbox{
    display: flex;
}

input[type="checkbox" i] {
    width: auto;
    height: auto;
    cursor: pointer;
}

.checkbox input{
    accent-color: navy;
}

a{
    text-decoration: none;;
}

a:hover, .reset_password:hover, .checkbox:hover, .login:hover, .sign_up:hover{
    text-decoration: underline;
    font-size: larger;
    color: rgb(8, 8, 163);
}

button{
    font-family: 'Playfair Display', serif;
    width: -webkit-fill-available;
    border-radius: 10px;
    cursor: pointer;
    background-color: navy;
    color: white;
    padding: 0.4rem;
    font-size: larger;
    outline: none;
    border: none;
}

button:hover{
    background-image: linear-gradient(75deg, navy, orangered);
    color: white;
    font-size: x-large;
}

.login_signup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#user_login, #user_signup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#user_signup{
    display: none;
}

.login, .sign_up {
    cursor: pointer;
    color: rgb(107, 107, 211);
}

#user_signup button{
    margin-top: 4rem;
}

.reset_password{
    color: rgb(107, 107, 211);
}

@media screen and (max-width: 885px) {
    input{
        width: 250px;
    }
}