*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
    background-image: linear-gradient(75deg, orangered, navy);
    height: 60rem;
    font-family: 'Playfair Display', serif;
}

.username, .password{
    display: flex;
    gap: 1rem;
}

.main_div{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2rem;
    font-family: 'Marck Script', cursive;
    background-size: cover;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: x-large;
}

.username{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.username:hover, .password:hover{
    font-size: xx-large;
}

input:hover, button:hover{
    border: 4px solid navy;
}

.password{
    margin-bottom: 2rem;
}

.fa-solid{
    background-color: white;
    padding: 1rem;
    border-radius: 50px;
    color: navy;
}

input{
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: large;
}

::placeholder {
    color: navy;
    font-family: 'Playfair Display', serif;
  }

.password_reset a{
    color: white;
  }

.password_reset a:hover{
    font-size: xx-large;
  }  

button{
    width: -webkit-fill-available;
    align-self: center;
    padding: 0.5rem 0;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    color: navy;
    font-size: x-large;
    font-family: 'Playfair Display', serif;
}

.password_reset{
    margin-top: 5rem;
    font-family: 'Playfair Display', serif;
}


